<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>网上书城</title>
</head>
<link rel="stylesheet" href="http://localhost:8080/css/main.css" type="text/css" />
<body class="main">
<div th:include="/front/top::divhead" id="divhead">
</div>
<div th:include="/front/search::divmenu" id="divmenu">
</div>
<div th:include="/front/search::divsearch" id="divsearch">
</div>

<div id="divpagecontent">
    <table width="100%" border="0" cellspacing="0">
        <tr>
            <td width="25%">
                <table width="100%" border="0" cellspacing="0" style="margin-top:30px">
                    <tr>
                        <td class="listtitle">我的帐户</td>
                    </tr>

                    <tr>
                        <td class="listtd">
                            <img src="http://localhost:8080/images/miniicon.gif" width="9" height="6" />&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="http://localhost:8080/jump.action?page=client/modifyuserinfo">用户信息修改</a>
                        </td>
                    </tr>

                    <tr>
                        <td class="listtd">
                            <img src="http://localhost:8080/images/miniicon.gif" width="9" height="6" />&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#">订单查询</a>
                        </td>
                    </tr>

                    <tr>
                        <td class="listtd">
                            <img src="http://localhost:8080/images/miniicon.gif" width="9" height="6" />&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="logout.action">用戶退出</a>
                        </td>
                    </tr>
                </table>
            </td>

            <td>
                <div style="text-align:right; margin:5px 10px 5px 0px">
                    <a href="http://localhost:8080/">首页</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;
                    我的帐户
                    &nbsp;&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;&nbsp;
                    欢迎
                </div>

                <table cellspacing="0" class="infocontent">
                    <tr>
                        <td style="padding:20px">
                            <p>
                                <img src="http://localhost:8080/ad/myad.jpg" width="631" height="436" />
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<div th:include="/front/foot::divfoot" id="divfoot">
</div>

</body>
</html>
